body {
  background-color: antiquewhite;
}

h1 {
  font-size: 90px;
  background: url(miominmio.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
